<html>
    <head>
        <title>

        </title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="../scripts/controllers/authController.js"></script>
        <script src="../scripts/app.js"></script>
    </head>
    <body>
        <h1>TFL Store</h1>
        <ol>
            <li>Roses</li>
            <li>Lotus</li>
            <li>Gerbera</li>
            <li>Lily</li>
        </ol>
        <hr>
        <div>
            <!-- <form> -->
                <table>
                    <tr>
                        <td><label>Email</label></td>
                        <td>
                            <input type="text" name="email" id="email"/>
                        </td>
                    </tr>
                    <tr>
                        <td><label>Password</label></td>
                        <td>
                            <input type="text" name="password" id="password"/>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button id="btnLogin">Login</button>
                        </td>
                    </tr>
                </table>
                <label id="message"></label>
            <!-- </form> -->
        </div>
    </body>
</html>